services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - LOG_LEVEL=INFO

  db:
    image: postgres:16
    environment:
      - POSTGRES_USER=eventhub_user
      - POSTGRES_PASSWORD=eventhub_password
      - POSTGRES_DB=eventhub_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
